.search {
    width: 400px;

}
.searchbutton button{
    cursor: pointer;
    background: #ddd;
}
.searchbutton button:hover{
    background: #ccc;
}
.maingrid {
    display: grid;
    grid-template-columns: auto;
    padding: 2px;
}
.maingrid2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2px;
}
.maingrid3 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2px;
}
.maingridcolor {
    background-color: rgba(255, 255, 255, 0.8);
}
.grid-itemlogin{
    padding: 10px;
    font-size: 30px;
    text-align: right;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.grid-itemcolor{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.grid-itempost{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.picturegrid{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.picturegridcolor{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.grid-itemfooter{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.grid-itemfootercolor{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.terugknop{
    width: 100px;
}
a{
    transition: 0.2s;
}
a:link, a:visited {
    background-color: #5e6361;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #000000;
}
input{
    transition: 0.2s;
}
.postknop input[type=submit] {
    background-color: #5e6361;
    border: none;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}
.postknop input:hover{
    background-color: #000000;
}